In [1]:
cd ..

c:\Users\hzhang\Documents\Work\F1

In [2]:
from lib import F1

import pandas as pd

In [3]:
season = F1.Season(2020)

In [19]:
for race in season.racename:
    season.create_race(race)
    season.races[race].get_points_data()

season.points = pd.concat([pd.DataFrame(season.races[i].points, index=[i]) for i in season.racename])

In [20]:
season.points

,bottas,leclerc,norris,hamilton,sainz,perez,gasly,ocon,giovinazzi,vettel,...,raikkonen,russell,grosjean,kevin_magnussen,stroll,ricciardo,max_verstappen,hulkenberg,aitken,pietro_fittipaldi
1,25,18,16,12.0,10,8.0,6,4,2,1,...,0,0,0.0,0,0.0,0,0,NaN,NaN,NaN
2,18,0,10,25.0,3,8.0,0,0,0,0,...,0,0,0.0,0,6.0,4,15,NaN,NaN,NaN
3,15,0,0,26.0,2,6.0,0,0,0,8,...,0,0,0.0,1,12.0,4,18,NaN,NaN,NaN
4,0,15,10,25.0,0,NaN,6,8,0,1,...,0,0,0.0,0,2.0,12,19,0.0,NaN,NaN
5,15,12,2,19.0,0,NaN,0,4,0,0,...,0,0,0.0,0,8.0,0,25,6.0,NaN,NaN
6,16,0,1,25.0,8,10.0,2,0,0,6,...,0,0,0.0,0,12.0,0,18,NaN,NaN,NaN
7,18,0,6,25.0,0,1.0,4,10,0,0,...,0,0,0.0,0,2.0,13,15,NaN,NaN,NaN
8,10,0,12,7.0,18,1.0,25,4,0,0,...,0,0,0.0,0,15.0,8,0,NaN,NaN,NaN
9,18,4,8,26.0,0,10.0,0,0,0,1,...,2,0,0.0,0,0.0,12,0,NaN,NaN,NaN
10,26,8,0,15.0,0,12.0,2,6,0,0,...,0,0,0.0,0,0.0,10,18,NaN,NaN,NaN
11,0,6,0,25.0,10,12.0,8,0,1,0,...,0,0,2.0,0,NaN,15,19,4.0,NaN,NaN
12,18,12,0,26.0,8,6.0,10,4,0,1,...,0,0,0.0,0,0.0,2,15,NaN,NaN,NaN
13,18,10,4,26.0,6,8.0,0,0,1,0,...,2,0,0.0,0,0.0,15,0,NaN,NaN,NaN
14,0,12,5,25.0,10,18.0,0,0,0,15,...,0,0,0.0,0,2.0,1,8,NaN,NaN,NaN
15,4,1,12,25.0,10,0.0,8,2,0,0,...,0,0,0.0,0,0.0,6,19,NaN,NaN,NaN
16,4,0,1,NaN,12,25.0,0,18,0,0,...,0,3,NaN,0,15.0,10,0,NaN,0.0,0.0
17,18,0,10,15.0,8,0.0,4,2,0,0,...,0,0,NaN,0,1.0,7,25,NaN,NaN,0.0